<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>PotteryBarn Database Documentation</h1>

    <h2>Login and Register Api</h2>

    <h3>login</h3>
    <p>Api link = https://potterybarn-database.herokuapp.com/login</p>

    <h3>Register</h3>
    <p>Api link = https://potterybarn-database.herokuapp.com/register</p>


    <h2>User Apis</h2>

    <p>Get all User = https://potterybarn-database.herokuapp.com/users</p>



    <h2>Products Apis</h2>

    <p>Get all User = https://potterybarn-database.herokuapp.com/products</p>

    <h2>Cart Apis</h2>

    <p>Get all Cart item = https://potterybarn-database.herokuapp.com/cart</p>
    <p>post all Cart item = https://potterybarn-database.herokuapp.com/cart</p>
    <p>post all Cart item By id = https://potterybarn-database.herokuapp.com/:id</p>

    <h2>Address Apis</h2>

    <p>Get all User Address = https://potterybarn-database.herokuapp.com/address</p>
    <p>post all User Address = https://potterybarn-database.herokuapp.com/address</p>
    <p>post all User Address By id = https://potterybarn-database.herokuapp.com/:id</p>





</body>

</html>